<!--   
    Author: Pham Quang Minh
    email: quangminh2479@gmail.com
    Date: 14th July 2023
-->
<launch>
  <param name = "robot_description" 
  command = "$(find xacro)/xacro --inorder $(find minh_robot)/urdf/minh_robot.urdf.xacro" />
  <node name = "joint_state_publisher_gui" 
  pkg = "joint_state_publisher_gui" type = "joint_state_publisher_gui"/>
  <node name = "robot_state_publisher" 
  pkg = "robot_state_publisher" type = "robot_state_publisher" />

</launch>