<!--   
    Author: Pham Quang Minh
    email: quangminh2479@gmail.com
    Date: 14th July 2023
-->
<launch>
    <!-- argument for launch file. Indicatate directory to location stored URDF model -->
    <!-- Indicate directory of system that containt URDF model -->
    <arg name = "model" default = "$(find minh_robot)/urdf/minh_robot.urdf.xacro"/>

    <!-- Start gazebo simulation of model -->
    <!-- Include launch file of model --> 
    <include file = "$(find minh_robot)/launch/robot_gazebo.launch">
        <!-- Value of argument = argument receive as input in this launch file 
        propagate argumaent to to robot_simulation_gazebo.launch -->
        <arg name = "model" value ="$(arg model)"/>
    </include>

    <!-- Start control system -->
    <include file = "$(find minh_robot)/launch/robot_controller.launch">
        <!-- Set argument for simulation and not the real robot -->
        <arg name = "is_sim" value = "true"/>
    </include>

    <!-- MoveIt: start Move group -->
    <include file = "$(find minh_robot_moveit)/launch/move_group.launch"/>

    <!-- In case want to visualize and interfac with robot via graphical User 
        Interface ->  Start MoveIt Interface -->
<!--
    <include file = "$(find minh_robot_moveit)/launch/moveit_rviz.launch">
        <arg name = "rviz_config" value = "($find minh_robot_moveit)/launch/moveit.rviz"/>
    </include>
-->
</launch>