<!--   
    Author: Pham Quang Minh
    email: quangminh2479@gmail.com
    Date: 14th July 2023
-->
<!--
    Launch file for 
-->
<launch>
    <arg name = "simulation_mode" default = "false"/>

    <!-- Load URDF model, configuration parameter for input+output interface (from *.yaml) to parameter server  -->
    <rosparam file = "$(find minh_robot)/config/trajectory_controller.yaml" 
    command = "load"/>
    <rosparam file = "$(find minh_robot)/config/joint_state_controller.yaml" 
    command = "load"/>
    <param name = "robot_description" 
    command = "$(find xacro)/xacro $(find minh_robot)/urdf/minh_robot.urdf.xacro"/>
    <!-- If not simulation mode -> Real robot->Arduino interfacing -->
    <group unless = "$(arg simulation_mode)">
        <!-- Launch the angles converter service -->
        <node name = "AngleConvertingService_Node" pkg = "minh_robot" type = "anglesconvert_services"  
        respawn = "true" output = "screen"/>
        <!-- Launch the Hardware interface with the real robot -->
        <node name = "RobotInterface_Node" pkg = "minh_robot" type = "robot_interface" 
        ns = "/minh_robot" respawn = "true" output = "screen"/>
    </group>

    <!-- Controller node -->
    <node name = "controller_spawner" pkg = "controller_manager" type = "spawner" 
    respawn = "false" output = "screen" ns = "/minh_robot" 
    args = "joint_state_controller arm_controller gripper_controller" />
    <!--robot_state_publisher node -->
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher" 
    respawn = "false" output = "screen">
        <remap from = "/joint_states" to = "/minh_robot/joint_states" />
    </node>

</launch>
