<!--   
    Author: Pham Quang Minh
    email: quangminh2479@gmail.com
    Date: 14th July 2023
-->
<launch>

  <!-- List of arguments can be passed in this launch file. Argrument in launch file = variables
      can be prvodied when file is executed. It differentiate behavior of launch file.
    Argument have name and default value in case there are no input value. -->
    <!-- arg for temporal simulation should start -->
  <arg name = "paused" default = "false"/>
  <!-- arg for simulating temporal progression during the simulation of the robot -->
  <arg name = "use_sim_time" default = "true"/>
  <!-- Indicate whether other or not display the graphical interface of gazebo when simulation 
  is started -->
  <arg name = "gui" default = "true"/>
  <!-- Print in console some information for testing phase about execution of node -->
  <arg name = "debug" default = "false"/>
  <!-- Indicate directory of system that containt URDF model -->
  <arg name = "model" default = "$(find minh_robot)/urdf/minh_robot.urdf.xacro"/>
  
  <!-- Start a launch file from another launch file -->
  <!--Resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!-- Start gazebo simulation with empty world -->
  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <!-- Pass in empty_world input (argument) of current launch file 
    The argument is passed with value being assigned -->
    <arg name = "debug" value = "$(arg debug)" />
    <arg name = "gui" value = "$(arg gui)" />
    <arg name = "paused" value = "$(arg paused)"/>
    <arg name = "use_sim_time" value = "$(arg use_sim_time)"/>
  </include>
  
  <!-- Load URDF model of robot to ROS parameter server -->
  <param name = "robot_description" command = "$(find xacro)/xacro --inorder $(arg model)" />

  <node name = "urdf_spawner" pkg = "gazebo_ros" type = "spawn_model"
  args = "-unpause -urdf -model robot -param robot_description" respawn = "false" output = "screen"/>
  
</launch>